<h1>Add Activity for <%= @place["name"]%></h1>

<form action="/entries" method="post">
  <h4>
    <label for="title">Activity Title</label>
    <input type="text" name="title">

    <label for="date">Date</label>
    <input type="date" name="date">

    <label for="description">Description</label>
    <input type="text" name="description">

    <input type="hidden" name="place_id" id="place_id" value="<%= params["place_id"]%>">
  </h4>

  <button>Submit</button>

</form>