<h1>Add a new place to your list</h1>

<form action="/places" method="post">

  <h4>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </h4>

  <button>Submit</button>
  
  <a href="/places">Cancel entry</a>

</form>